<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PROC UPDATE</title>
</head>
<body>

<h1 style="text-align: center">UPDATE PROC BY ID  <small th:text="${product.getProduct_id()}"></small>s </h1>
   <form th:action="@{admin/products/update}" th:object="${product}" method="post">
       <div>
           <p>Proc name</p>
           <input type="text" th:field="*{name}">
       </div>

       <div>
           <p>Proc manufacture</p>
           <input type="text" th:field="*{manufacturer}">
       </div>

       <div>
           <p>Unit</p>
           <input type="text" th:field="*{unit}">
       </div>
       <div>
           <p>Proc DESC</p>
           <textarea rows="4" cols="50" th:field="*{description}">

           </textarea>
       </div><div>
           <p>Proc STATUS</p>
           <select>
               <th:block th:each="e : ${product.values()}" th:field="*{status}">
                   <option th:value="${e.name()}"></option>
               </th:block>
           </select>
       <input type="hidden"  th:field="*{product_id}">
       </div>
       <input type="submit">
   </form>

</body>
</html>