<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Order Detail</title>
</head>
<body>
<h1 align="center"> Order id
    <th:block th:text="${orderDetail.get(0).getOrder().getOrder_id()}"></th:block> Detail
    <p>Customer : <th:block th:text="${orderDetail.get(0).getOrder().getCustomer().getName()}"></th:block></p>
    <p>Employee : <th:block th:text="${orderDetail.get(0).getOrder().getEmployee().getFullname()}"></th:block></p>
</h1>
<table align="center" width="80%" border="1">
    <thead>
    <tr>
        <th>Product id</th>
        <th>Product Name</th>
        <th>Product Quantity</th>
        <th>Product Price</th>
        <th>Note</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="e : ${orderDetail}">
            <td align="center" th:text="${e.getProduct().getProduct_id()}">  </td>
            <td th:text="${e.getProduct().getName()}">  </td>
            <td th:text="${e.getQuantity()}">  </td>
            <td th:text="${e.getPrice()}">  </td>
            <td th:text="${e.getNote()}">  </td>
        </tr>
    </tbody>
</table>
</body>
</html>