<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Update customer</title>
</head>
<body>
<h1>Updaet product</h1>

<form th:action="@{/admin/customers/save}" method="post" th:object="${customer}">
    <div>
        <label>Name</label>
        <input type="text" th:field="*{name}">
    </div>
    <div>
        <label>Email</label>
        <input type="text" th:field="*{email}">
    </div>
    <div>
        <label>Phone</label>
        <input type="text" th:field="*{phone}">
    </div>  <div>
        <label>Address</label>
        <input type="text" th:field="*{address}">
    </div>
    <div>
        <input type="hidden" th:field="*{id}">
    </div>
    <div>
        <input type="submit" th:value="Update">
    </div>
</form>
</body>
</html>