<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
    <style>
        th{
            min-width: 85px;
            max-width: 150px;
        }
    </style>
</head>
<body>
<h1 align="center">CUSTOMER LIST </h1>
<div align="center"><a th:href="@{/admin/customers/new}">Create Customer</a></div>

<table width="80%" align="center" border="1">
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>email</th>
        <th>phone</th>
        <th>address</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="e :${customers}">
        <td  th:text="${e.getId()}"></td>
        <td th:text="${e.getName()}"></td>
        <td th:text="${e.getEmail()}"></td>
        <td th:text="${e.getPhone()}"></td>
        <td th:text="${e.getAddress()}"></td>
        <td >
            <a th:href="@{/admin/customers/update/{id}(id=${e.getId()})}">Update</a>
            <a th:href="@{/admin/customers/delete/{id}(id=${e.getId()})}">delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>